body
{
    margin: 0px;
    border: 0px;
    overflow: hidden;
}


.Toolbar
{
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
}

.Footbar
{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #eeeeee;
}

#c_buttons 
{
    text-align: right;
}

#c_buttons img
{
    width: 30px;
    height: 30px;
}

#c_processors 
{
    text-align: right;
}

#c_processors img
{
    width: 30px;
    height: 30px;
}

#c_io img
{
    width: 30px;
    height: 30px;
}

.Toolbar span
{
    text-align: left;
}

.Toolbar img
{
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px none red;
    vertical-align: middle;
}

#main
{
    border: 0px;
}


#album
{
    width: 120px;
    overflow: auto;
    text-align: center;
    vertical-align: top;
    background-color:#FFCC99;
}

#pad
{
    overflow: auto;
    vertical-align: middle;
     text-align: center;
     align-content:center;
}

#drop
{
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: #eeeeee;
}

#c
{
    vertical-align: middle;
}


#props
{
    width: 120px;
    text-align: center;
    vertical-align: top;
    overflow: auto;
    background-color: #aad7ff;
}

.thumbnail
{
    cursor: pointer;
    width: 85px;
    height: 85px;
    margin: 5px;
}



.ColorPicker
{
    background-color: #ffffff;
    border-collapse: collapse;
    border: 1px solid #808080;
}

.ColorPicker td
{
    border: 1px solid #808080;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.SizePicker
{
    background-color: #ffffff;
    border-collapse: collapse;
    border: 1px solid #808080;
}

.SizePicker td
{
    color: black;
    font-size: 9pt;
    border: 1px solid #808080;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}


.selectingDiv
{
    border:1px  solid red;
}

.progress
{
    font-size:9pt;
    text-align:center;
}